.home > .flexItem {
  width: 35vw;
  padding: 26px 0;
  text-align: start;
  min-height: 146px;
}

.Tilt {
  text-align: center;
  padding-bottom: 10px;
}

@media only screen and (min-width: 668px) {
  .logoFormWrap .Tilt-inner .monkeyLogo {
    width: 220px;
  }
}

@media only screen and (min-width: 900px) {
  .logoFormWrap .Tilt-inner .monkeyLogo {
    width: 280px;
  }
  .home .monkeyLogo {
    width: 146px;
  }
}
