body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}
.App {
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}

.home {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.contentWrap {
  max-width: 600px;
  margin: 0 auto;
}

.logoFormWrap {
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 85vw;
  height: 90vh;
}

.logoFormWrap .Tilt {
  text-align: center;
}

.flexItem {
  width: 100%;
  margin: 5px;
}

@media only screen and (max-height: 414px) {
  .logoFormWrap {
    height: auto;
  }
}

@media only screen and (min-width: 767px) {
  .logoFormWrap {
    max-width: 65vw;
  }
}

@media only screen and (min-width: 1025px) {
  .logoFormWrap {
    flex-direction: row;
  }

  .logoFormWrap .Tilt {
    text-align: left;
  }
}
