.App {
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}

.home {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.logo-form-wrap {
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  margin: 0 auto;
  width: 70vw;
}

.flexItem {
  width: 85vw;
  margin: 5px;
}

@media (orientation: landscape) {
  .logo-form-wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .flexItem {
    width: 35vw;
  }
}

@media only screen and (min-width: 767px) {
  .logo-form-wrap {
    height: 85vh;
  }
  .flexItem {
    width: 65vw;
  }
}

@media only screen and (min-width: 1025px) {
  .logo-form-wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 85vh;
  }

  .flexItem {
    min-height: 300px;
    width: 35vw;
  }
}

* {
  border: dotted 1px black;
}
